#box1{
    border: 5px solid;
    width: 400px;
    height: 200px;
    font-size: 180px;
    font-weight: 1000;
    text-align: center;
    vertical-align: middle;

    animation: BOX;
    animation-duration: 20s;

}
@keyframes BOX{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(95, 94, 94);
}