body{
    background-color: #4b1b6e;
}

#heading{
    color: rgb(231, 96, 213);
    font-family: "Press Start 2P", cursive;
}

#subheading{
    color: #FF00FF;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: bold;
}

p{
    color: #FF00FF;
    background-color: #ff5eff;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
a{
    color: #FF00FF;
}

table{
    background-color: #4b1b6e;
    text-align: center;
    width: 700px;
    margin-left: 200px;
    margin-top: 50px;
}
tr{
    background-color: #ff5eff;
}

img{
    margin-top: 50px;
    margin-left: 470px;
}
