body{
    background-color: rgb(0, 0, 0);
}

#heading{
    color: white;
    font-family: "Press Start 2P", cursive;
}

#subheading{
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
}

p{
    color: white;
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-style: italic;
}
a{
    color: white;
}
